<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="cordova-plugin-firebase-messaging"
      version="4.5.0">

    <name>FirebaseMessagingPlugin</name>
    <description>Cordova plugin for Firebase Cloud Messaging</description>
    <license>MIT</license>
    <keywords>cordova</keywords>
    <repo>https://github.com/chemerisuk/cordova-plugin-firebase-messaging</repo>
    <issue>https://github.com/chemerisuk/cordova-plugin-firebase-messaging/issues</issue>

    <js-module src="www/FirebaseMessaging.js" name="FirebaseMessaging">
        <merges target="cordova.plugins.firebase.messaging" />
    </js-module>

    <engines>
        <engine name="cordova" version=">=9.0.0"/>
        <engine name="cordova-android" version=">=8.0.0"/>
        <engine name="cordova-ios" version=">=5.0.0"/>
    </engines>

    <dependency id="cordova-plugin-firebase-analytics" version="~4.4.1"/>

    <platform name="ios">
        <preference name="IOS_FIREBASE_MESSAGING_VERSION" default="~> 6.31.0"/>

        <config-file target="config.xml" parent="/*">
            <feature name="FirebaseMessaging">
                <param name="ios-package" value="FirebaseMessagingPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>remote-notification</string>
            </array>
        </config-file>
        <config-file target="*-Debug.plist" parent="aps-environment">
            <string>development</string>
        </config-file>
        <config-file target="*-Release.plist" parent="aps-environment">
            <string>production</string>
        </config-file>

        <header-file src="src/ios/AppDelegate+FirebaseMessagingPlugin.h" />
        <source-file src="src/ios/AppDelegate+FirebaseMessagingPlugin.m" />
        <header-file src="src/ios/FirebaseMessagingPlugin.h" />
        <source-file src="src/ios/FirebaseMessagingPlugin.m" />

        <podspec>
            <config>
                <source url="https://cdn.cocoapods.org/"/>
            </config>
            <pods>
                <pod name="Firebase/Messaging" spec="$IOS_FIREBASE_MESSAGING_VERSION" />
            </pods>
        </podspec>
    </platform>

    <platform name="android">
        <preference name="ANDROID_FIREBASE_MESSAGING_VERSION" default="20.2.+"/>
        <preference name="ANDROIDX_CORE_VERSION" default="1.3.+"/>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FirebaseMessaging">
                <param name="android-package" value="by.chemerisuk.cordova.firebase.FirebaseMessagingPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service android:name="by.chemerisuk.cordova.firebase.FirebaseMessagingPluginService">
                <intent-filter>
                    <action android:name="com.google.firebase.MESSAGING_EVENT"/>
                </intent-filter>
            </service>
            <meta-data android:name="com.google.firebase.messaging.default_notification_channel_id" android:value="default"/>
        </config-file>

        <dependency id="cordova-support-android-plugin" version="~1.0.0"/>
        <dependency id="cordova-support-google-services" version="^1.3.2"/>

        <framework src="com.google.firebase:firebase-messaging:$ANDROID_FIREBASE_MESSAGING_VERSION" />
        <framework src="androidx.core:core:$ANDROIDX_CORE_VERSION" />
        <framework src="me.leolin:ShortcutBadger:1.1.22@aar"/>

        <source-file src="src/android/FirebaseMessagingPlugin.java"
            target-dir="src/by/chemerisuk/cordova/firebase/" />
        <source-file src="src/android/FirebaseMessagingPluginService.java"
            target-dir="src/by/chemerisuk/cordova/firebase" />
    </platform>

</plugin>
